<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>
    <link rel="stylesheet" href="/vbuzz/css/foundation.css">
    <link rel="stylesheet" href="/vbuzz/css/font-awesome.min.css">    
    <link rel="stylesheet" href="/vbuzz/css/pushy/pushy.css">
    <link rel="stylesheet" href="/vbuzz/css/style.css">
    <script src="/vbuzz/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <nav class="pushy pushy-left">
        <ul>
            <li class="active"><a href="/">Trang chủ</a></li>
            <li><a href="#">Hậu trường</a></li>
            <li><a href="#">Âm nhạc</a></li>
            <li><a href="#">Điện ảnh</a></li>
            <li><a href="#">Giới mốt</a></li>
            <li><a href="#">Làm đẹp</a></li>
            <li><a href="#">Ấn tượng</a></li>
            <li><a href="#">Sao - Fan</a></li>
            <li><a href="#">Teen + </a></li>
            <li><a href="#">LifeStyle</a></li>
            <li><a href="#">Funny </a></li>
            <li><a href="#">Video </a></li>
        </ul>
    </nav>
    <div id="container">
        <header>
            <div class="header">
                <div class="top-header">
                    <div class="row">
                        <div class="large-6 columns">
                            <div class="time">
                                <span> Thứ sáu, 23/8/2013 16:40 GMT+7</span>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="">
                                <form class="search" action="">
                                    <input type="text" placeholder="" class="text-search" />
                                    <input type="submit" value="" class="submit-search" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-main">
                    <div class="row">
                        <div class="large-4 columns">
                            <div class="header-m-left">
                                <div class="hd-ngang" id="logo">
                                    <a href="/"><img src="/vbuzz/img/logo.png" alt="" /></a>
                                </div>
                                <div class="hd-ngang menu-btn">&#9776; Menu</div>
                            </div>
                        </div>
                        <div class="large-8 columns">
                            <div id="banner">
                                <img src="/vbuzz/img/banner.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div id="menu-top">
                            <nav class="top-bar hide-for-small ">
                                <section class="top-bar-section">
                                    <!-- Left Nav Section -->
                                    <ul>
                                        <li class="active"><a href="#">Trang chủ</a></li>
                                        <li><a href="#">Hậu trường</a></li>
                                        <li><a href="#">Âm nhạc</a></li>
                                        <li><a href="#">Điện ảnh</a></li>
                                        <li><a href="#">Giới mốt</a></li>
                                        <li><a href="#">Làm đẹp</a></li>
                                        <li><a href="#">Ấn tượng</a></li>
                                        <li><a href="#">Sao - Fan</a></li>
                                        <li><a href="#">Teen + </a></li>
                                        <li><a href="#">LifeStyle</a></li>
                                        <li><a href="#">Funny </a></li>
                                        <li><a href="#">Video </a></li>
                                    </ul>
                                </section>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content-main">
            <div class="row">
                <div class="content-container clearfix">
                    <div class="large-12 columns">                   
                        <%-body -%>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quảng Cáo Bottom -->
        <div class="quangcaobot">
            <div class="row">
                <div class="large-12 columns">
                    <a href="#"><img src="/vbuzz/img/quangcaobot.png" alt="" /></a>
                </div>
            </div>
        </div>
        <!-- End Quảng Cáo Bottom -->
        <footer>
            <div class="row">
                <div class="large-12 columns">
                    <div id="menu-bottom">
                        <nav class="top-bar">
                            <section class="top-bar-section clearfix">
                                <!-- Left Nav Section -->
                                <ul class="menu-bt-left clearfix">
                                    <li><a href="#">Hậu trường</a></li>
                                    <li><a href="#">Âm nhạc</a></li>
                                    <li><a href="#">Điện ảnh</a></li>
                                    <li><a href="#">Giới mốt</a></li>
                                    <li><a href="#">Làm đẹp</a></li>
                                </ul>
                                <ul class="logo-bottom clearfix">
                                    <li class="logo-small"><img src="/vbuzz/img/logo-small.png" alt="" /></li>
                                </ul>
                                <ul class="menu-bt-right clearfix">
                                    <li><a href="#">Ấn tượng</a></li>
                                    <li><a href="#">Sao - Fan</a></li>
                                    <li><a href="#">Teen + </a></li>
                                    <li><a href="#">LifeStyle</a></li>
                                    <li><a href="#">Funny </a></li>
                                    <li><a href="#">For Sale</a></li>
                                </ul>
                            </section>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="footer-bt">
                <div class="row">
                    <div class="small-6 large-6 columns footer-left">
                        <ul>
                            <li>Chuyên trang Phong cách của Báo điện tử VTC News. Số 1551/GP-
                                <br>BTTTT cấp ngày 26 - 9 - 2011.</li>
                            <li>© Ghi rõ nguồn Vbuzz.vn khi phát hành lại thông tin từ website này.</li>
                            <li>Phụ trách nội dung: Đào Gia Long</li>
                            <li>Hotline: 0986.333.xxx</li>
                            <li>Gửi tin/bài: banbientap@Vbuzz.vn</li>
                        </ul>
                    </div>
                    <div class="small-6 large-6 columns footer-right">
                        <ul class="">
                            <ul>
                                <li>Phiên bản thử nghiệm</li>
                                <li>Thiết kế bởi Beau Creative</li>
                                <li>Tổng biên tập: Ngô Văn Hải</li>
                                <li>Tòa soạn và Trị sự: Tầng 10 - Tòa nhà 18 Tam Trinh - Hai Bà
                                    <br> Trưng - Hà Nội.</li>
                                <li>Quy định thành viên <a href="#">Liên hệ</a></li>
                                <li>Liên hệ quảng cáo: 0984 106 156</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script>
        document.write('<script src=' +
            ('__proto__' in {} ? '/vbuzz/js/vendor/zepto' : '/vbuzz/js/vendor/jquery') +
            '.js><\/script>')
        </script>
        <script src="/vbuzz/js/jquery-1.10.2.min.js"></script>
        <script src="/vbuzz/js/foundation.min.js"></script>
        <script src="/vbuzz/js/jquery.easytabs.min.js"></script>
        <script src="/vbuzz/js/bxslider/jquery.bxsliderv4.js"></script>
        <script src="/vbuzz/js/pushy/pushy.js"></script>
        <script>
        $(document).foundation();
        </script>
        <script type="text/javascript">
        $(document).ready(function() {
            $('#tab-music').easytabs();
            $('#tab-quatang').easytabs();

        });
        </script>
        <script type="text/javascript">
        $(document).ready(function() {
            $('.slider1').bxSlider({
                slideWidth: 197,
                minSlides: 2,
                maxSlides: 5,
                slideMargin: 10,
                nextSelector: '#slider-next',
                prevSelector: '#slider-prev',
                nextText: '>',
                prevText: '<',
                pager: true,
                pagerType: 'short',
                pagerCustom: '.bxSliderMainThumb'

            });
            $('.funfun').bxSlider({
                slideWidth: 195,
                minSlides: 2,
                maxSlides: 5,
                slideMargin: 10,
                nextSelector: '#slider-next2',
                prevSelector: '#slider-prev2',
                nextText: '>',
                prevText: '<',
                pager: true,
                pagerType: 'short',
                pagerCustom: '.bxSliderMainThumb2'

            });
        });
        </script>
    </div>
    <!-- SCROLL TO TOP -->
    <div id="scroll-top">
        <a href="#top"></a>
    </div>
    <!-- / SCROLL TO TOP -->
    <script type="text/javascript">
    (function() {

        // hide #scroll-top first
        $("#scroll-top").hide();

        // fade in #scroll-top
        $(window).scroll(function() {
            if ($(this).scrollTop() > 150) {
                $('#scroll-top').fadeIn();
            } else {
                $('#scroll-top').fadeOut();
            }
        });

        // scroll body to 0px on click
        $('#scroll-top a').click(function() {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        // Divider Top
        $(".divider a.top").click(function() {
            $('html, body').animate({
                scrollTop: 0
            }, 'slow');
            return false;
        });

    })();
    </script>
</body>

</html>
