@import "assets/plugins/bootstrap/3.3.5/less/bootstrap.less";

// =============================================================
// Variable
// =============================================================
// RS Colors
@rsBlue                 : #00aff0;
@rsBlack                : #1f1c1b;
@rsGrey                 : #a1a1a1;
@rsOrange               : #FF8500;
@white                  : #fff;

// Overwrite Bootstrap variables
@brand-success          : @rsBlue;
@brand-warn             : @rsOrange;
@link-color             : @brand-success;
@font-family-base       : "Roboto", @font-family-sans-serif;
@font-size-base         : 16px;
@headings-font-weight   : 300;
@btn-font-weight        : 300;
@icon-font-path         : "../plugins/bootstrap/3.3.5/fonts/";
@border-radius-base     : 0;
@border-radius-large    : 0;
@border-radius-small    : 0;

// =============================================================
// Overwrite
// =============================================================
.navbar-white() {
    background: @white;
    .box-shadow(0 0 5px rgba(0, 0, 0, .2));

    .navbar-brand {
        img {
            &.logo {
                opacity: 1;
            }

            &.logo-white {
                opacity: 0;
            }
        }
    }

    .navbar-nav {
        > li {
            > a {
                color: @rsBlue;

                &:hover {
                    border-bottom-color: @rsBlue;
                }
            }

            &.active {
                > a {
                    border-bottom-color: @rsBlue;
                }
            }
        }
    }

    .navbar-toggle {
        .icon-bar {
            background-color: @rsBlack !important;
        }

        &:hover,
        &:focus {
            .icon-bar {
                background-color: @rsBlue !important;
            }
        }
    }
}

// =============================================================
// Overwrite
// =============================================================
.btn {
    padding-left: 32px;
    padding-right: 32px;
}

.btn-lg {
    padding-left: 64px;
    padding-right: 64px;
    font-size: 26px;
}

.btn-rs {
    .button-variant(@white; @rsBlue; @white);
}

// =============================================================
// Layout
// =============================================================
body {
    font-weight: 300;
}

// Navbar
#rs-navbar {
    background: none;
    border: none;
    height: 70px;
    padding: 20px;
    .transition(all 0.3s);
    margin: 0;

    .navbar-brand {
        padding: 0;
        margin: 0;
        position: relative;
        .size(188px, 30px);

        img {
            position: absolute;
            top: 0;
            left: 0;
            .transition(all 0.3s);

            &.logo {
                opacity: 0;
            }

            &.logo-white {
                opacity: 1;
            }
        }
    }

    .navbar-nav {
        > li {
            > a {
                height: 30px;
                line-height: 26px;
                padding: 0 15px;
                color: @white;
                font-size: 16px;
                font-weight: 400;
                background: none;
                .transition(all 0.1s);

                &:hover {
                    border-bottom: 2px solid @white;
                }
            }

            &.active {
                > a {
                    border-bottom: 2px solid @white;
                }
            }
        }
    }

    &.navbar-white {
        .navbar-white();
    }

    @media (max-width: 767px) {
        .navbar-toggle {
            margin: 0;

            .icon-bar {
                background-color: @white;
            }

            &:hover,
            &:focus {
                background-color: @white;

                .icon-bar {
                    background-color: @rsBlue;
                }
            }
        }

        &.opened-menu {
            .navbar-white();
        }

        #rs-navbar-collapse {
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            border: 0;
            margin: 0;
            padding: 0;
            background: @rsBlue;
            .box-shadow(0 0 5px rgba(0, 0, 0, .2));

            ul {
                margin: 0;
                padding: 10px 0;

                li {
                    padding: 5px 20px;

                    a {
                        color: @white;
                        padding: 0;
                        height: 30px;
                        line-height: 30px;

                        &:hover {
                            border-color: @white;
                        }
                    }

                    &.active {
                        a {
                            border-color: @white;
                        }
                    }
                }
            }
        }
    }
}

// Footer
footer {
    position: relative;
    background: @rsBlack !important;
    padding: 40px 0;    
    z-index: 9;

    &,
    a,
    a:hover {
        color: @rsGrey;
    }
}

.bg-wrapper {
    position: relative;
    overflow: hidden;

    .bg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: no-repeat 50% 50%;
        background-size: cover;
    }
}

.text-white {
    color: @white;
}

.text-blue {
    color: @rsBlue;
}

.page-header {
    background: @rsBlue;
    padding: 35px 0;

    h1,
    h2 {
        margin: 0 !important;
    }
}

.text-center {
    img {
        display: inline-block;
    }
}

.control-label {
    text-align: left !important;
    font-weight: 300;
}

.form-action {
    margin-bottom: 0;
}

// =============================================================
// Homepage
// =============================================================
.homepage {
    section {
        position: relative;
        background: #fff;
    }

    #home {
        z-index: 1;
    }

    #customers,
    #solutions,
    #contacts {
        z-index: 2;
    }

    .page-header {
        margin: 0;
        border: 0;
    }

    h1,
    h2,
    h3 {
        margin: 0 0 30px;
    }
}

.section-home {
    .bg {
        background-image: url(../img/bg_home_01.png);
        padding: 120px 0 0;

        h1 {
            font-weight: 400;
            font-size: 72px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 30px;
        }
    }

    .page-header {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;

        .btn {
            width: 250px;
            padding-left: 0;
            padding-right: 0;

            + .btn {                
                margin-left: 50px;
            }
        }
    }    

    @media (max-width: 767px) {
        .bg {
            padding-top: 80px;

            h1 {
                font-weight: 700;
                font-size: 36px;
            }

            h2 {
                font-size: 30px;
            }
        }

        .page-header {
            .btn {
                width: 100%;
                font-size: 16px;

                + .btn {
                    margin: 10px 0 0;
                }
            }
        }
    }
}

.section-customers {
    padding: 80px 0;

    h2 {
        &:first-child {
            margin-top: 0;
        }
    }

    .row + h2 {
        margin-top: 80px;
    }

    .customers-list {
        .customer {
            h3 {
                margin: 0 0 20px;
            }
        }
    }

    .recs-list {
        margin-bottom: 20px;

        .rec {
            padding-left: 25px;
            margin-bottom: 15px;
            background: url(../img/bullet_02.png) no-repeat 0 50%;
            text-align: left;
            font-size: 18px;
        }
    }

    @media (max-width: 767px) {
        .customers-list {
            .customer {
                + .customer {
                    margin-top: 50px;
                }
            }
        }
    }
}

.section-solutions {
    .bg-wrapper {
        min-height: 800px;
    }

    .bg {
        position: absolute;
        background-image: url(../img/bg_home_02.png);        
        padding: 80px 0;
        background-attachment: fixed;

        img {
            position: absolute;
            bottom: 0;
            left: 50%;
            .translate(-50%, 0);
        }
    }

    .bg-wrapper + .container {
        padding-top: 80px;
        padding-bottom: 80px;        
    }

    .cog-wrapper {
        display: inline-block;
        position: relative;
        margin-top: 40px;
        padding-bottom: 80px;

        .cog-hint {
            position: absolute;
            text-align: left;
            white-space: nowrap;

            h3 {
                margin: 0;
                color: @rsBlue;
                font-weight: 700;

                small {
                    display: block;
                    color: @rsBlack;
                    font-weight: 300;
                }
            }
        }

        .cog-hint-01 {
            left: -230px;
            top: 180px;
        }

        .cog-hint-02 {
            top: 50px;
            left: -80px;
        }

        .cog-hint-03 {
            top: 340px;
            left: -10px;
        }

        .cog-hint-04 {
            top: 120px;
            left: 460px;
        }

        .cog-hint-05 {
            top: 420px;
            left: 420px;
        }

        .cog-hint-06 {
            top: 260px;
            left: 730px;
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            .cog {
                width: 80%;
            }

            .cog-hint {
                h3 {
                    font-size: 25px;
                }
            }

            .cog-hint-01 {
                left: -130px;
                top: 150px;
            }

            .cog-hint-02 {
                top: 40px;
                left: -10px;
            }

            .cog-hint-03 {
                top: 270px;
                left: 20px;
            }

            .cog-hint-04 {
                top: 100px;
                left: 440px;
            }

            .cog-hint-05 {
                top: 340px;
                left: 400px;
            }

            .cog-hint-06 {
                top: 230px;
                left: 650px;
            }
        }

        @media (max-width: 991px) {
            .clearfix();
            padding-bottom: 0;

            .cog {
                margin-bottom: 30px;
            }

            .cog-hint {
                float: left;
                position: static;
                width: 50%;
                padding: 0 15px 20px;

                h3 {
                    small {
                        display: inline;
                        margin-left: 10px;
                    }
                }
            }
        }

        @media (max-width: 767px) {
            display: block;

            .cog-hint {
                width: 100%;
                white-space: normal;
            }
        }
    }

    @media (max-width: 767px) {
        .bg-wrapper {
            min-height: 480px;
        }

        .bg {
            img {
                width: 90%;
            }
        }
    }
}

.section-contacts {
    .page-header + .container {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .contact-location {
        text-align: right;

        img {
            display: inline-block;
            margin-bottom: 10px;
            border: 2px solid @rsBlue;
            padding: 5px;
        }

        h3 {
            margin-bottom: 10px;
        }
    }

    @media (max-width: 767px) {
        .contact-location {
            text-align: center;
            margin-top: 40px;
        }
    }
}
